langchain-core
langchain-groq
langchain-ollama
langchain-chroma
langchain-community
langchain-text-splitters
langchain-postgres
langgraph
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-faiss
faiss-cpu
ollama
pydantic
python-dotenv
mcp
langchain-mcp-adapters
